
body{
    background-size: cover;
    background-repeat: none;
    background-image: url("Image/accion.jpg");
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
	}

div.wne{
    
}

