
body{
    background-repeat: no-repeat;
	  background-color:white;
    background-size: cover;
    margin: 0 auto;
    color: white;
    padding: 20px;
	}

iframe.one{
	border-color: blue;
	width: 300px;
}

div{
    background-color: white;
    margin-top: 0px;
    width:auto;
}

div.one{	
    width: 1000px;
    height: 500px;
    background-color: #3E3E3E;

}

div.two{
    margin-top: 0px;	
    width: auto;
    height: 50px;
    background-color: #3F3E3E;
}

div.three {
    margin-top: 0px;
    width: 1250px;
    height: 50px;
    background-color: #424141;
}

div.four {
    margin-top: 0px;
    width: 50px;
    height: 1000px;
    background-color: #424141;
}

div.five {
   box-shadow: 0px 0px 100px #000;
  width: 1230px;
   background-color: #3E3E3E;
}

div.six{
    border-width: 5px;
   	background-color:#F9F9F9;
   	height:20px;
    opacity: 0.7;
}

div.sev{
    width: 1100px;
    height: 195px;
    margin-left: 130px;
    background-color: black;
    float:left;
}

div.sub{
    box-shadow: 0px 0px 100px #000;
    background-color: white;
    width: 1230px;
    height: 1600px;
    float:left;
}

div.eight{
    background-color: #373636;
    opacity: 0.9;
    width: 1230px;
    height: 195px;
    float:left;
}

div.nine{
    margin-left: 58px;
    margin-bottom: 60px;
    background-color:white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-color: green;
    opacity: 0.9;
    width: 1120px;
    height: 200px;
    float:left;
}

div.ten{
    margin-left: 0px;
    margin-top: 250px;
    margin-bottom: 60px;
    background-color:white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-color: green;
    opacity: 0.9;
    width: 1120px;
    height: 400px;
    float:left;
}

div.elev{
    margin-bottom: 60px;
    background-color:white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-color: green;
    opacity: 0.9;
    width: 1120px;
    height: 600px;
    float:left;
}

div.container{
    background-color: green;
    width: 1230px;
    height: 3px;
    float:left;
}
div.slide{
    width: 1229px;
}
.fa {
  padding: 5px;
  font-size: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  margin-top:20px;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.icon-bar {
      width: 130px;
      background-color:#373636;
  }

.icon-bar a {
      display: block;
      text-align: left;
      padding: 40px;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
  }

.icon-bar a:hover {
      background-color: #000;
  }

.active {
    background-color: #4CAF50 !important;
}

div.footer{
	background-color:#373636;
	height:200px;
}

.tablink {
    box-shadow: 0px 0px 10px white;
    height: 50px;
    color: white;
    float: left;
    border: white;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color:  green;
}

/* Style the tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 50px;
}

div.srclwh{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}