
body{
    background-repeat: no-repeat;
	  background-color:19041F;
    margin: 0 auto;
    color: white;
    padding: 20px;
	}

iframe.one{
	border-color: blue;
	width: 300px;
}

div{
    background-color: #3E3E3E;
    margin-top: 0px;
    width:auto;
}

div.one{	
    width: 1000px;
    height: 500px;
    background-color: #3E3E3E;

}

div.two{
    margin-top: 0px;	
    width: auto;
    height: 50px;
    background-color: #3F3E3E;
}

div.three {
    margin-top: 0px;
    width: 1250px;
    height: 50px;
    background-color: #424141;
}

div.four {
    margin-top: 0px;
    width: 50px;
    height: 1000px;
    background-color: #424141;
}

div.five {
    opacity:0.7; 
    width: 1230px;
    background-color: #3E3E3E;
}

div.six{
    border-width: 5px;
   	background-color:black;
   	height:60px;
}

div.sev{
    width: 1100px;
    height: 195px;
    margin-left: 130px;
    float:left;
}

div.slide{
    width: 1229px;
}
.fa {
  padding: 5px;
  font-size: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  margin-top:20px;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.icon-bar {
      width: 130px;
      background-color: #555;
  }

.icon-bar a {
      display: block;
      text-align: left;
      padding: 40px;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
  }

.icon-bar a:hover {
      background-color: #000;
  }

.icon-bar a:hover {
    background-color: skyblue;
}

.active {
    background-color: #4CAF50 !important;
}

div.footer{
	background-color:black;
	height:200px;
}

.tablink {
    background-color: #555;
    box-shadow: 0px 0px 50px #000;
    height: 68px;
    color: white;
    float: left;
    border: white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: skyblue;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

