body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
	}

div.a{
  margin-top: 200px;
	margin-left: 500px;
}

div.ab{
    margin-top: -60px;
    margin-left: -29px;
    margin-bottom: -100px;
    margin-right: -12px;
    background-image:url("Image/b.jpg");
    background-repeat: no-repeat;
    position:relative;
    height:665px;
    width: 1305px;
}

div.b{
   	margin-top: -20px;
    margin-left: -29px;
    margin-bottom: -100px;
    margin-right: -12px;
    background-image:url("Image/b1.jpg");
    background-repeat: no-repeat;
    position:relative;
    height:665px;
    width: 1305px;
}


div.b2{
  	margin-top: -20px;
    margin-left: -29px;
    margin-bottom: -100px;
    margin-right: -12px;
    background-image:url("Image/b2.jpg");
    background-repeat: no-repeat;
    position:relative;
    height:665px;
    width: 1305px;
}

div.b3{
	margin-top: -20px;
    margin-left: -29px;
    margin-bottom: -100px;
    margin-right: -12px;
    background-image:url("Image/push.jpg");
    background-repeat: no-repeat;
    height:665px;
    width: 1305px;
}

div.b4{
	margin-top: -20px;
    margin-left: -29px;
    margin-bottom: -100px;
    margin-right: -12px;
    background-image:url("Image/push.jpg");
    background-repeat: no-repeat;
    height:665px;
    width: 1305px;
}

.bar{
	margin-top: -27px;
	margin-left: 400px;
    height:130px;
    width: 905px;
    background-color: #373636;
}


div.facebook {
  border-radius: 10%;
  background-image:url("Image/face.jpg");
  background-repeat: no-repeat;
  background-size: 50px;
  margin-left: 150px;
  margin-top:10px;
  height:50px;
  width: 50px;
}

div.twitter {
  border-radius: 10%;
  background-image:url("Image/twit.jpg");
  background-repeat: no-repeat;
  background-size: 50px;
  height:50px;
  width: 50px;
  margin-top: -50px;
}

div.linkedin {
  border-radius: 10%;
  margin-top: -51px;
  margin-left: 299px;
  height:50px;
  width: 50px;
  background-image:url("Image/twit.jpg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px;
}

div.pin{
  border-radius: 10%;
  height:200px;
  background-image:url("Image/psuh.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 500px;
}

div.box{
  position: relative;
  background-color: white;
  margin-left: 160px;
  height:500px;
  width:420px;
}

div.bottom{
  margin-top:-250px;
  background-color:transparent; 
}

div.botom{
  margin-top:107px;
  background-color:transparent; 
}

div.bot{
  margin-top:140px;
  background-color:transparent; 
}

div.resize{
  margin-left: -900px;
  margin-top:-200px;
  background-color: transparent;
}

p {
    position:absolute;
    font-size: 30px;
    margin-left: 500px;  
    margin-top: -500px;
    color: black;
        text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 

}

p.one {
    position:absolute;
    font-size: 40px;
    margin-left: 380px;  
    margin-top: -420px;
    font-family:Stencil;
    color:white;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}

p.two {
    position:absolute;
    font-size: 60px;
    margin-left: 405px;  
    margin-top: -420px;
    color: white;
 font-family: Stencil;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;    
}


p.three {
    position:absolute;
    font-size: 100px;
    margin-left: 632px;  
    margin-top: -512px;
    color: white;
 font-family: Stencil;
    text-shadow:
     -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;    
}

p.four {
    position:absolute;
    font-size: 40px;
    margin-left: 500px;  
    margin-top: -499px;
    color: white;
    font-family: Stencil;
    text-shadow:
      -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;      
}

p.five {
    position:absolute;
    font-size: 40px;
    margin-left: 690px;  
    margin-top: -534px;
    color: white;
  font-family: Stencil;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;     
}

p.six{
    position:absolute;
    font-size: 40px;
    margin-left: 690px;  
    margin-top: -540px;
    color: white;
    font-family: Stencil;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;    
}